:root {
    --primary-color: #f2f7fc;
    --secondary-color: #368ef3;
    --background-color: #111215;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: Poppins, sans-serif;
}

.contact-body {
    height: 750px;
}

.my-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 18vw;
}

.owner {
    font-family: Pirata One, monospace, sans-serif;
    padding: 0 18px;
    font-size: 45px;
    font-weight: unset;
}

.nav-bar {
    padding: 0px;
}

.nav-items {
    display: flex;
}

.list-item {
    list-style: none;
    padding: 10px;
}

.list-text {
    text-decoration: none;
    color: var(--primary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 8px;
}

.dropdown-btn {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #111215;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: var(--primary-color);
}

.dropdown-content.show {
    display: block;
}

/* .dropdown-content a.active {
    background-color: var(--secondary-color);
} */

.btn-nav-alignment {
    display: flex;
    padding: 10px;
}

.another-header {
    margin: 10px;
    padding: 100px 20px;
}

.another-header-text1,
.another-header-text2 {
    font-family: Pirata One, monospace, sans-serif;
}

.another-header-align {
    display: flex;
    padding: 0 7vw;
}

.another-header-text1 {
    font-size: 150px;
    padding: 20px 0 0;
}

.another-header-text2 {
    color: var(--secondary-color);
    font-size: 70px;
    padding: 80px 15px 0;
}

.another-header-text {
    padding: 0 30vw 0 8vw;
    font-size: 22px;
    line-height: 1.5;
}

.container-text {
    font-weight: bold;
    font-style: italic;
    padding: 5px 0;
    font-size: 20px;
}

.sub-heading {
    font-size: 65px;
    font-weight: normal;
    font-family: Pirata One, monospace, sans-serif;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.contact-section {
    padding: 30px 10%;
}

section {
    padding: 130px 8vw 0px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container-box {
    border: 2px dashed var(--secondary-color);
    line-height: 2;
    padding: 5vw;
    margin: 0 10px;
    width: 40vw;
    flex-grow: 1;
    box-sizing: border-box;
}


.my-list {
    padding-left: 20px;
}

.container-box1 {
    border: 2px solid var(--primary-color);
    line-height: 2;
    padding: 5vw;
    margin: 20px 0;
    height: 110vh;
    width: 40vw;
}



.my-image {
    object-fit: contain;
    width: 40vw;
    height: 40vh;
    padding: 10px;
    margin: 10px 0;
}

.my-container {
    display: flex;
}

.my-container-box {
    line-height: 2;
    padding: 30px 250px;
    text-align: center;
}

.navigation {
    color: var(--primary-color);
    text-decoration: none;
}

.my-box {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1%;
    margin: 0 40% 30px;
    border-radius: 7px;
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.align-text {
    padding: 20px;
}

.my-text {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}


.my-input {
    padding: 15px 25px;
    background-color: var(--background-color);
    border: none;
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
    width: 48vw;
    display: block;
}

.submit-button {
    padding: 10px 65px;
    margin: 55px 34vw 0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.center-icons {
    display: flex;
    padding: 30px 10px 20px;
    justify-content: center;
}

.move-to-top {
    border: 2px solid var(--primary-color);
    margin: 4% 33% 0;
    padding: 12px 12%;
    height: 55px;
    text-align: center;
}


.my-video {
    width: 70vw;
    height: 50vh;
    margin: 15px 46px;
    border: 5px solid black;
}

.video-box {
    padding: 0 20px;
    margin: 0 0 30px;
}



.my-media {
    padding: 20px 6%;
    margin: 10px 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.icon-align {
    background-color: var(--primary-color);
    margin: 30px;
    height: 30px;
    width: 30px;
    margin: 0 25px;
    border-radius: 50px;
}

.icon-box {
    border: 2px solid var(--primary-color);
    margin: 0 10px;
    padding: 10px 0;
}

.my-form {
    padding: 10px 21%;
}

.my-footer {
    padding: 20px;
    text-align: center;
    margin: 33px 10px;
}

.inner-list-items {
    padding: 20px;
}

.language-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.language-content a {
    color: #111215;
    padding: 12px 16px;
    text-decoration: none;
    background-color: var(--primary-color);
}


.language-content.show {
    display: block;
}

.language-box {
    border: 2px solid var(--primary-color);
    line-height: 2;
    padding: 2%;
    margin: 20px 0;
    width: 75%;
}

.langBtn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0;
}

.about-text {
    margin: 10px 5vw;
}

@media screen and (max-width: 600px) {

    .my-input {
        padding: 15px 2%;
        width: 80%;
        margin: 50px 10% 0;
    }

    .my-container-box {
        padding: 30px 3%;
    }

    .my-header {
        padding: 10px 20px;
    }

    .owner {
        font-size: 35px;
        padding: 10px;
    }

    .another-header {
        margin: 10px;
        padding: 130px 10px;
    }

    .another-header-align {
        display: block;
        padding: 0;
    }

    .another-header-text1 {
        font-size: 70px;
        padding: 20px 0;
    }

    .another-header-text2 {
        font-size: 35px;
        padding: 0px;
    }

    .another-header-text {
        padding: 10px 43px 0 0;
        font-size: 18px;
        line-height: 1.7;
    }

    .container {
        display: block;
        margin: 10px;
    }

    .container-box {
        width: 100%;
        margin: 10px 0;
    }

    .video-box {
        padding: 20px;
        margin: 0;
    }

    .sub-heading {
        font-size: 40px;
        font-family: Pirata One, monospace, sans-serif;
        padding: 15px;
        font-weight: unset;
    }


    .language-box {
        padding: 20px;
        height: 25vh;
        width: 100%;
    }

    .my-footer {
        padding: 20px;
        text-align: center;
        margin: 0 10px 35px;
    }

    .icon-box {
        border: 2px solid #f2f7fc;
        margin: 0 20px;
        padding: 10px 0;
    }

    .move-to-top {
        margin: 15px 15%;
        padding: 12px 50px;
        height: 55px;
        text-align: center;
    }

    .my-video {
        width: 100%;
        height: 28vh;
        padding: 20px 0;
        margin: 0;
        border: none;
    }

    .my-media {
        padding: 10px 2%;
        margin: 20px 4% 0;
    }

    .about-text {
        margin: 1%;
    }

    .my-box {
        background-color: var(--secondary-color);
        padding: 7px;
        margin: 25px 20%;
        border-radius: 7px;
    }

    .submit-button {
        padding: 10px 20%;
        margin: 55px 24% 0;
    }
}

@media screen and (min-width: 600px) and (max-width:850px) {
    .move-to-top {
        margin: 0 25%;
    }

    .another-header-text1 {
        font-size: 95px;
        padding: 20px 0;
    }

    .another-header-align {
        display: block;
    }

    .another-header-text2 {
        padding: 0px 15px 0;
        font-size: 33px;
    }

    .another-header-text {
        font-size: 20px;
    }

    .container-box1 {
        height: 120vh;
        width: 52vw;
        margin: 0 19px;
    }

    .language-box {
        margin: 30px 13% 0;
        height: 35%;
        width: 75%;
    }

    .langBtn {
        padding: 10px 20px;
        background-color: var(--secondary-color);
        color: var(--background-color)
    }

    .sub-heading {
        font-size: 50px;
    }

    .container {
        display: block;
    }

    .container-box {
        width: 84vw;
        margin: 0 0 15px;
    }

    .my-video {
        width: 79vw;
        height: 50vh;
        margin: 15px 0 0;
    }

    .my-media {
        padding: 10px 19%;
        margin: 3%;
        background-color: black;
    }

    .my-input {
        margin: 10px 10vw 0;
        padding: 15px 15px;
        width: 55vw;
    }

    .submit-button {
        padding: 10px 65px;
        margin: 55px 26vw 0;
    }


    .my-box {
        padding: 7px 0vw;
        margin: 22px 29vw;
    }

    .about-text {
        margin: 10px 4vw 35px;
    }
}