:root{
    --primary-color: #f2f7fc;
    --secondary-color: #368ef3;
    --background-color: #111215;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: Poppins, sans-serif;
}

.contact-body{
    height: 750px;
}

.my-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15vw;
}

.owner{
    font-family: Pirata One, monospace, sans-serif;
    padding: 0 18px;
    font-size: 45px;
    font-weight: unset;
}

.nav-bar{
    padding: 10px;
}

.nav-items{
    display: flex;
}

.list-item{
    list-style: none;
    padding: 10px;
}

.list-text{
    text-decoration: none;
    color: var(--primary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown-btn {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #111215;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: var(--primary-color);
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a.active {
    background-color: var(--secondary-color);
}

.btn-nav-alignment{
    display: flex;
}

.another-header{
    margin: 10px;
    padding: 100px 20px;
}

.another-header-text1,.another-header-text2{
    font-family: Pirata One, monospace, sans-serif;
}

.another-header-align{
    display: flex;
    padding: 0 95px;
}

.another-header-text1{
    font-size: 150px;
    padding:20px 0 0;
}

.another-header-text2{
    color: var(--secondary-color);
    font-size: 70px;
    padding: 80px 15px 0;
}

.another-header-text
{
    padding: 0 245px 0 120px;
    font-size:25px;
    line-height: 2;
}

.sub-heading{
    font-size: 60px;
    font-family: Pirata One, monospace, sans-serif;
    padding: 20px;
}

section {
    padding: 130px 105px 0;
  }

.container
{
    display: flex;
    justify-content: space-evenly;
}

.container-box{
    border: 2px solid var(--primary-color);
    line-height: 2;
    padding: 5vw;
    margin: 20px;
    height: 75vh;
    width: 40vw;
}

.container-box1 {
    border: 2px solid var(--primary-color);
    line-height: 2;
    padding: 5vw;
    margin: 20px 0;
    height: 110vh;
    width: 40vw;
  }

  .language-box{
    border: 2px solid var(--primary-color);
    line-height: 2;
    padding: 5vw;
    margin: 20px 0;
    height: 30vh;
    width: 40vw;
  }

.my-image{
    object-fit: contain;
    width: 40vw;
    height: 40vh;
    padding: 10px;
    margin: 10px 0;
}

.my-container{
    display: flex;
}

.my-container-box{
    line-height: 2;
    padding: 30px;
    text-align: center;
}

.navigation{
    color:var(--primary-color);
    text-decoration: none;
}

.my-box{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin: 40px 10vw 10px;
    border-radius: 7px;
}

.align-text{
    padding: 20px;
}

.my-text{
    text-align: center;
    text-decoration: none;
    color:var(--primary-color);
}


.my-input {
    padding: 15px;
    margin: 20px 50px 0;
    background-color: var(--background-color);
    border: none;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
    width: 50vw;
    display: block;
  }

  .submit-button {
    padding: 10px 65px;
    margin: 55px 20vw 0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
  }

.center-icons{ 
    display: flex;
    padding: 30px 10px 20px;
    justify-content: center;
}

.move-to-top{
    border: 2px solid var(--primary-color);
    margin: 15px 200px 0;
    padding: 12px 73px;
    height: 55px;
    text-align: center;
}


.my-video{
    width: 70vw;
    height: 50vh;
    padding: 20px 40px;
    margin: 0px 8px;
}

.my-media{
    padding: 0 9vw;
}
.icon-align{
    background-color: var(--primary-color);
    margin: 30px;
    height:30px;
    width: 30px;
    margin: 0 25px;
    border-radius: 50px;
}

.icon-box{
    border: 2px solid var(--primary-color);
    margin: 0 10px;
    padding: 10px 0;
}

.my-form{
    padding: 10px;
}

.my-footer{
    padding: 20px;
    text-align: center;
    margin: 33px 10px;
}

.inner-list-items{
    padding:20px;
}

.language-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
}

.language-content a {
    color: #111215;
    padding: 12px 16px;
    text-decoration: none;
    background-color: var(--primary-color);
}

.language-content a.active {
    background-color: var(--secondary-color);
}

.language-content.show {
    display: block;
}

.langBtn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0;
}

@media screen and (max-width: 600px) {
    .my-header {
        padding: 10px 20px;
    }

    .owner{
        font-size: 35px;
        padding: 10px;
    }

    .another-header {
        margin: 10px;
        padding: 130px 10px;
    }

    .another-header-align {
        display: block;
        padding: 0;
    }

    .another-header-text1 {
        font-size: 70px;
        padding: 20px 0;
    }

    .another-header-text2 {
        font-size: 35px;
        padding: 0px;
    }

    .another-header-text {
        padding: 10px 0;
        font-size: 18px;
        line-height: 1.7;
    }

    section {
        padding: 60px 0;
    }

    .sub-heading {
        font-size: 50px;
        font-family: Pirata One, monospace, sans-serif;
        padding: 15px 15px 0;
        font-weight: unset;
    }

    .container {
        display:block;
        margin: 20px;
    }

    .container-box {
        margin: 0;
        padding: 20px;
        width: 93vw;
        height: 46vh;
    }

    .container-box1{
        padding: 20px;
        margin: 0;
        height: 95vh;
        width: 93vw;
    }

    .language-box{
        padding: 20px;
        margin: 0;
        height: 30vh;
        width: 93vw;
    }

    .my-footer {
        padding: 0 20px;
        text-align: center;
        margin: 0 10px 50px;
    }

    .icon-box {
        border: 2px solid #f2f7fc;
        margin: 0 20px;
        padding: 10px 0;
    }

    .move-to-top {
        margin: 15px 38px 0;
        padding: 12px 73px;
        height: 55px;
        text-align: center;
    }

    .my-video {
        width: 85vw;
        height: 28vh;
        padding: 20px 12px;
        margin: 0px 8px;
    }

    .my-media {
        padding: 0 6vw;
    }
}

@media screen and (min-width: 600px) and (max-width:850px)
{
    .move-to-top{
        margin: 15px 100px 0;
    }
    .another-header-text1 {
        font-size: 95px;
        padding: 20px 0;
    }

    .another-header-align{
        display: block;
    }

    .another-header-text2{
        padding: 0px 15px 0;
        font-size: 33px;
    }

    .container-box1 {
        height: 120vh;
        width: 52vw;
        margin: 0 19px;
    }
    .language-box{
        margin: 0 19px;
        height: 30vh;
        width: 52vw;
    }
    .langBtn{
        padding:10px 20px;
        background-color: var(--secondary-color);
        color: var(--background-color)
    }
    .container-box{
        width: 60vw;
        height: 50vh;
    }
    .container{
        display: block;
    }
    .another-header-text{
        font-size: 16px;
        padding: 0 205px 0 105px;
    }
    .my-video {
        width: 65vw;
        height: 38vh;
        padding: 20px 21px;
        margin: 0px;
    }
}
